Actividad Presentada por: Laura Palacios
ESI - School of Management
Big Data con Python

In [2]:
import pandas as pd

In [3]:
url1="https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-08-07/felicidad.csv"
dfcsv=pd.read_csv(url1)

In [4]:
url2="https://www.w3schools.com/xml/cd_catalog.xml"
dfxml=pd.read_xml(url2)

In [5]:
!pip install lxml

Requirement already satisfied: lxml in .\AppData\Local\Programs\Python\Python314\Lib\site-packages (6.0.2)

In [8]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [9]:
url3="https://github.com/wantaprender-tech/Curso-Bigdata-Python/raw/refs/heads/main/Semana%20No.%201/base%20de%20datos%20excel%20tarea%20sem1.xlsx"
dfexcel=pd.read_excel(url3)

In [10]:
#Muestre el encabezado de los primeros 6 registros - CSV
dfcsv.head(6)

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
0,Afghanistán,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,NaN,NaN
1,Afghanistán,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,NaN,NaN
2,Afghanistán,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,NaN,NaN
3,Afghanistán,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,NaN,NaN
4,Afghanistán,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,NaN,NaN
5,Afghanistán,2013,3.572100,7.522238,0.483552,52.560001,0.577955,0.070403,0.823204,0.620585,0.273328,0.482847,-1.879709,-1.403036,1.223690,NaN,NaN

In [11]:
#Muestre el encabezado de los primeros 6 registros - XML
dfxml.head(6)

                 TITLE           ARTIST COUNTRY         COMPANY  PRICE  YEAR
0     Empire Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3  Still got the blues       Gary Moore      UK  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997
5       One night only         Bee Gees      UK         Polydor   10.9  1998

In [12]:
#Muestre el encabezado de los primeros 6 registros - Excel
dfexcel.head(6)

,Empleado,Nombre del cliente,Ventas,Id de empleado,Id de producto,Id de cliente,Año,Mes,Producto,Cliente,Id de pedido,Fecha de pedido,Nombre del producto,Estado o provincia,País o región,Categoría
0,Francisco Chaves,Compañía AA,1400.0,9,34,27,2016,11,Cerveza Northwind Traders,Compañía AA,30,42696,Cerveza Northwind Traders,Madrid,España,Bebidas
1,Francisco Chaves,Compañía AA,105.0,9,80,27,2016,2,Ciruelas pasas Northwind Traders,Compañía AA,30,42417,Ciruelas pasas Northwind Traders,NV,Estados Unidos,Frutos secos
2,Luis Bonifaz,Compañía D,300.0,3,7,4,2016,10,Peras secas Northwind Traders,Compañía D,31,42647,Peras secas Northwind Traders,NY,Estados Unidos,Frutos secos
3,Luis Bonifaz,Compañía D,530.0,3,51,4,2016,7,Manzanas secas Northwind Traders,Compañía D,31,42577,Manzanas secas Northwind Traders,NY,Estados Unidos,Frutos secos
4,Luis Bonifaz,Compañía D,35.0,3,80,4,2016,1,Ciruelas pasas Northwind Traders,Compañía D,31,42377,Ciruelas pasas Northwind Traders,NY,Estados Unidos,Frutos secos
5,María Jesús Cuesta,Compañía L,270.0,4,1,12,2016,7,Té Chai Northwind Traders,Compañía L,32,42578,Té Chai Northwind Traders,Madrid,España,Bebidas

In [13]:
#Muestre la información del archivo - CSV
dfcsv.info()

<class 'pandas.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pais                         1704 non-null   str
 1   anio                         1704 non-null   int64
 2   escalera_vida                1704 non-null   float64
 3   log_pib                      1676 non-null   float64
 4   soporte_social               1691 non-null   float64
 5   expectativa_vida             1676 non-null   float64
 6   libertad                     1675 non-null   float64
 7   generosidad                  1622 non-null   float64
 8   percepcion_corrupcion        1608 non-null   float64
 9   afecto_positivo              1685 non-null   float64
 10  afecto_negativo              1691 non-null   float64
 11  confianza                    1530 non-null   float64
 12  calidad_democracia           1558 non-null   float64
 13  calidad_entrega              1559 non-null   float64
 14  de_escalera_pais_anio        1704 non-null   float64
 15  gini_banco_mundial           643 non-null    float64
 16  gini_banco_mundial_promedio  1502 non-null   float64
dtypes: float64(15), int64(1), str(1)
memory usage: 226.4 KB

In [14]:
#Muestre la información del archivo - XML
dfxml.info()

<class 'pandas.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TITLE    26 non-null     str
 1   ARTIST   26 non-null     str
 2   COUNTRY  26 non-null     str
 3   COMPANY  26 non-null     str
 4   PRICE    26 non-null     float64
 5   YEAR     26 non-null     int64
dtypes: float64(1), int64(1), str(4)
memory usage: 1.3 KB

In [15]:
#Muestre la información del archivo - Excel
dfexcel.info()

<class 'pandas.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Empleado             6860 non-null   str
 1   Nombre del cliente   6860 non-null   str
 2   Ventas               6860 non-null   float64
 3   Id de empleado       6860 non-null   int64
 4   Id de producto       6860 non-null   int64
 5   Id de cliente        6860 non-null   int64
 6   Año                  6860 non-null   int64
 7   Mes                  6860 non-null   int64
 8   Producto             6860 non-null   str
 9   Cliente              6860 non-null   str
 10  Id de pedido         6860 non-null   int64
 11  Fecha de pedido      6860 non-null   int64
 12  Nombre del producto  6860 non-null   str
 13  Estado o provincia   6860 non-null   str
 14  País o región        6860 non-null   str
 15  Categoría            6860 non-null   str
dtypes: float64(1), int64(7), str(8)
memory usage: 857.6 KB

In [16]:
#Muestre la información del archivo - CSV
dfcsv.shape

(1704, 17)

In [17]:
#Muestre la información del archivo - XML
dfxml.shape

(26, 6)

In [18]:
#Muestre la información del archivo - Excel
dfexcel.shape

(6860, 16)

Actividad por archivo independiente

In [19]:
#CSV
#Cuantos países diferentes hay en la db
dfcsv.columns

Index(['pais', 'anio', 'escalera_vida', 'log_pib', 'soporte_social',
       'expectativa_vida', 'libertad', 'generosidad', 'percepcion_corrupcion',
       'afecto_positivo', 'afecto_negativo', 'confianza', 'calidad_democracia',
       'calidad_entrega', 'de_escalera_pais_anio', 'gini_banco_mundial',
       'gini_banco_mundial_promedio'],
      dtype='str')

In [20]:
dfcsv["pais"].nunique()

164

In [21]:
dfcsv["pais"].unique()

<StringArray>
[           'Afghanistán',                'Albania',                'Algeria',
                 'Angola',              'Argentina',                'Armenia',
              'Australia',                'Austria',             'Azerbaijan',
                'Bahrain',
 ...
 'Emiratos Árabes Unidos',            'Reino Unido',         'Estados Unidos',
                'Uruguay',             'Uzbekistan',              'Venezuela',
                'Vietnam',                  'Yemen',                 'Zambia',
               'Zimbabue']
Length: 164, dtype: str

In [22]:
cantidad_paises=dfcsv["pais"].nunique()
print("Cantidad de países diferentes:", cantidad_paises)

Cantidad de países diferentes: 164

In [23]:
#Muestre por año la media de corrupción.
dfcsv.groupby("anio")["percepcion_corrupcion"].mean()

anio
2005    0.715875
2006    0.755737
2007    0.792069
2008    0.764120
2009    0.763371
2010    0.757199
2011    0.755170
2012    0.757945
2013    0.763475
2014    0.738347
2015    0.736524
2016    0.746677
2017    0.729197
2018    0.731744
Name: percepcion_corrupcion, dtype: float64

In [24]:
#Muestre por país, la expectativa de vida
dfcsv.groupby("pais")["expectativa_vida"].mean()

pais
Afghanistán    52.254545
Albania        67.254545
Alemania       71.104616
Algeria        65.174286
Angola         53.550000
                 ...
Venezuela      65.829231
Vietnam        66.838462
Yemen          54.627273
Zambia         50.983333
Zimbabue       49.269231
Name: expectativa_vida, Length: 164, dtype: float64

In [25]:
vida_pais = dfcsv.groupby("pais")["expectativa_vida"].mean().reset_index()
vida_pais

            pais  expectativa_vida
0    Afghanistán         52.254545
1        Albania         67.254545
2       Alemania         71.104616
3        Algeria         65.174286
4         Angola         53.550000
..           ...               ...
159    Venezuela         65.829231
160      Vietnam         66.838462
161        Yemen         54.627273
162       Zambia         50.983333
163     Zimbabue         49.269231

[164 rows x 2 columns]

In [26]:
#XML
dfxml.columns

Index(['TITLE', 'ARTIST', 'COUNTRY', 'COMPANY', 'PRICE', 'YEAR'], dtype='str')

In [27]:
#Filtre los discos para que muestre aquellos que esten entre el año 1990 y 1997
dfxml_filtrado = dfxml[dfxml["YEAR"].between(1990, 1997)]
dfxml_filtrado

,TITLE,ARTIST,COUNTRY,COMPANY,PRICE,YEAR
3,Still got the blues,Gary Moore,UK,Virgin records,10.2,1990
4,Eros,Eros Ramazzotti,EU,BMG,9.9,1997
7,Maggie May,Rod Stewart,UK,Pickwick,8.5,1990
8,Romanza,Andrea Bocelli,EU,Polydor,10.8,1996
10,Black angel,Savage Rose,EU,Mega,10.9,1995
12,For the good times,Kenny Rogers,UK,Mucik Master,8.7,1995
13,Big Willie style,Will Smith,USA,Columbia,9.9,1997
15,Soulsville,Jorn Hoel,Norway,WEA,7.9,1996
16,The very best of,Cat Stevens,UK,Island,8.9,1990
21,Pavarotti Gala Concert,Luciano Pavarotti,UK,DECCA,9.9,1991

In [28]:
dfxml_filtrado.sort_values("YEAR")

,TITLE,ARTIST,COUNTRY,COMPANY,PRICE,YEAR
3,Still got the blues,Gary Moore,UK,Virgin records,10.2,1990
7,Maggie May,Rod Stewart,UK,Pickwick,8.5,1990
16,The very best of,Cat Stevens,UK,Island,8.9,1990
21,Pavarotti Gala Concert,Luciano Pavarotti,UK,DECCA,9.9,1991
12,For the good times,Kenny Rogers,UK,Mucik Master,8.7,1995
10,Black angel,Savage Rose,EU,Mega,10.9,1995
15,Soulsville,Jorn Hoel,Norway,WEA,7.9,1996
8,Romanza,Andrea Bocelli,EU,Polydor,10.8,1996
13,Big Willie style,Will Smith,USA,Columbia,9.9,1997
4,Eros,Eros Ramazzotti,EU,BMG,9.9,1997

In [29]:
#Muestre con la función iloc cual es el disco más viejo y el más reciente.
dfxml_ordenado = dfxml.sort_values("YEAR")

In [30]:
dfxml_ordenado.iloc[0]

TITLE      The dock of the bay
ARTIST            Otis Redding
COUNTRY                    USA
COMPANY           Stax Records
PRICE                      7.9
YEAR                      1968
Name: 22, dtype: object

In [31]:
dfxml_ordenado.iloc[-1]

TITLE      1999 Grammy Nominees
ARTIST                     Many
COUNTRY                     USA
COMPANY                  Grammy
PRICE                      10.2
YEAR                       1999
Name: 11, dtype: object

In [32]:
#Excel
#Indique si hay columnas que borrar (cuales son?)
#Las columnas "Cliente" y "Producto" son redundantes con otras columnas dentro de la base de datos, se verificara si son duplicadas
(dfexcel["Cliente"] == dfexcel["Nombre del cliente"]).all()

np.True_

In [33]:
#Las columnas Cliente y Nombre del cliente son identicas en todas las filas. Se procede a borrar Cliente
dfexcel = dfexcel.drop(columns=["Cliente"])

In [34]:
(dfexcel["Producto"] == dfexcel["Nombre del producto"]).all()

np.True_

In [35]:
#Las columnas Producto y Nombre del producto son identicas en todas las filas. Se procede a borra Producto
dfexcel = dfexcel.drop(columns=["Producto"])

In [36]:
dfexcel.info()

<class 'pandas.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Empleado             6860 non-null   str
 1   Nombre del cliente   6860 non-null   str
 2   Ventas               6860 non-null   float64
 3   Id de empleado       6860 non-null   int64
 4   Id de producto       6860 non-null   int64
 5   Id de cliente        6860 non-null   int64
 6   Año                  6860 non-null   int64
 7   Mes                  6860 non-null   int64
 8   Id de pedido         6860 non-null   int64
 9   Fecha de pedido      6860 non-null   int64
 10  Nombre del producto  6860 non-null   str
 11  Estado o provincia   6860 non-null   str
 12  País o región        6860 non-null   str
 13  Categoría            6860 non-null   str
dtypes: float64(1), int64(7), str(6)
memory usage: 750.4 KB

In [37]:
#Realice una copia de su dataframe y en este deje solo los datos que considere necesarios
dfexcel_copia = dfexcel.copy()

In [38]:
columnas_necesarias = [
    "Ventas",
    "Año",
    "Mes",
    "Nombre del producto",
    "Nombre del cliente",
    "Empleado",
    "Estado o provincia",
    "País o región",
    "Categoría"
]

dfexcel_copia = dfexcel_copia[columnas_necesarias]

In [39]:
dfexcel_copia.info()

<class 'pandas.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ventas               6860 non-null   float64
 1   Año                  6860 non-null   int64
 2   Mes                  6860 non-null   int64
 3   Nombre del producto  6860 non-null   str
 4   Nombre del cliente   6860 non-null   str
 5   Empleado             6860 non-null   str
 6   Estado o provincia   6860 non-null   str
 7   País o región        6860 non-null   str
 8   Categoría            6860 non-null   str
dtypes: float64(1), int64(2), str(6)
memory usage: 482.5 KB

In [42]:
#Muestre el total de ventas por vendedor
dfexcel.groupby("Empleado")["Ventas"].sum()

Empleado
Francisco Chaves         1658151.75
Humberto Acevedo          731728.50
Jesús Escolar             366450.00
Juan Carlos Rivas         892920.00
Luis Bonifaz              234021.00
María González            918540.00
María Jesús Cuesta        878920.00
Pilar Pinilla Gallego    1608053.75
Name: Ventas, dtype: float64

In [43]:
#Muestre la categoría que más vende y la que menos vende

ventas_categoria = dfexcel.groupby("Categoría")["Ventas"].sum()
ventas_categoria

Categoría
Aceite                           74725.0
Bebidas                        3169040.0
Carne enlatada                  309120.0
Condimentos                     193200.0
Frutas y verduras enlatadas     218400.0
Frutos secos                    519750.0
Golosinas                       357000.0
Granos                           39200.0
Mermeladas y confituras         803600.0
Pasta                           273000.0
Productos horneados             137480.0
Productos lácteos               438480.0
Salsas                          364000.0
Sopas                           391790.0
Name: Ventas, dtype: float64

In [44]:
#Categoria que mas vende
ventas_categoria.idxmax()

'Bebidas'

In [45]:
#Categoria que menos vende
ventas_categoria.idxmin()

'Granos'