#Uploading Documents

In [ ]:
!wget https://www.w3schools.com/xml/cd_catalog.xml -O cd_catalog.xml

--2026-02-23 03:19:32--  https://www.w3schools.com/xml/cd_catalog.xml
Resolving www.w3schools.com (www.w3schools.com)... 23.46.228.73, 23.46.228.74, 2600:1409:3c00:a::172c:af2e, ...
Connecting to www.w3schools.com (www.w3schools.com)|23.46.228.73|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4866 (4.8K) [text/xml]
Saving to: ‘cd_catalog.xml’

cd_catalog.xml      100%[===================>]   4.75K  --.-KB/s    in 0s

2026-02-23 03:19:32 (1.76 GB/s) - ‘cd_catalog.xml’ saved [4866/4866]

In [ ]:
!wget https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-08-07/felicidad.csv -O felicidad.csv

--2026-02-23 03:19:32--  https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-08-07/felicidad.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 463384 (453K) [text/plain]
Saving to: ‘felicidad.csv’

felicidad.csv       100%[===================>] 452.52K  --.-KB/s    in 0.02s

2026-02-23 03:19:32 (19.9 MB/s) - ‘felicidad.csv’ saved [463384/463384]

In [ ]:
import pandas as pd

df = pd.read_csv('felicidad.csv')
display(df.head())

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
0,Afghanistán,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,NaN,NaN
1,Afghanistán,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,NaN,NaN
2,Afghanistán,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,NaN,NaN
3,Afghanistán,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,NaN,NaN
4,Afghanistán,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,NaN,NaN

# CSV Reading

In [ ]:
import pandas as pd
df1 = pd.read_csv('felicidad.csv')
print("Primeros 6 registros:")
df1.head(6)
print("Informacion del dataframe:")
df1.info()
print("Tamaño del dataframe:")
df1.shape
print("Numero de filas y columnas:")

num_paises = df1.shape[0]
print(f"Numero de paises: {num_paises}")

# Correcting column names for groupby operations, assuming 'year' and 'Corruption' are the English equivalents.
# Based on the kernel state, 'anio' (year) and 'percepcion_corrupcion' (corruption perception) are the relevant columns.
# If the original intent was 'year' and 'Corruption', those columns might need to be created or mapped from existing ones.
# For now, I will use 'anio' and 'percepcion_corrupcion' from the kernel state.

# Replaced 'year' with 'anio' and 'Corruption' with 'percepcion_corrupcion'
media_corrupcion_anual = df1.groupby("anio")["percepcion_corrupcion"].mean()
print("Media de corrupcion anual:")
print(media_corrupcion_anual)

# Replaced 'year' with 'anio' and 'Corruption' with 'percepcion_corrupcion', and 'Year' with 'anio' for sorting
media_corrupcion_anual = (df1.groupby("anio")["percepcion_corrupcion"].mean().reset_index().sort_values(by="anio"))
print("Media de corrupcion anual:")
print(media_corrupcion_anual)

# Replaced 'Country' with 'pais' and 'Life expectancy' with 'expectativa_vida'
vida_por_pais = df1.groupby("pais")["expectativa_vida"].mean()
print("Expectativa de vida por pais:")
print(vida_por_pais)

Primeros 6 registros:
Informacion del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pais                         1704 non-null   object
 1   anio                         1704 non-null   int64
 2   escalera_vida                1704 non-null   float64
 3   log_pib                      1676 non-null   float64
 4   soporte_social               1691 non-null   float64
 5   expectativa_vida             1676 non-null   float64
 6   libertad                     1675 non-null   float64
 7   generosidad                  1622 non-null   float64
 8   percepcion_corrupcion        1608 non-null   float64
 9   afecto_positivo              1685 non-null   float64
 10  afecto_negativo              1691 non-null   float64
 11  confianza                    1530 non-null   float64
 12  calidad_democracia           1558 non-null   float64
 13  calidad_entrega              1559 non-null   float64
 14  de_escalera_pais_anio        1704 non-null   float64
 15  gini_banco_mundial           643 non-null    float64
 16  gini_banco_mundial_promedio  1502 non-null   float64
dtypes: float64(15), int64(1), object(1)
memory usage: 226.4+ KB
Tamaño del dataframe:
Numero de filas y columnas:
Numero de paises: 1704
Media de corrupcion anual:
anio
2005    0.715875
2006    0.755737
2007    0.792069
2008    0.764120
2009    0.763371
2010    0.757199
2011    0.755170
2012    0.757945
2013    0.763475
2014    0.738347
2015    0.736524
2016    0.746677
2017    0.729197
2018    0.731744
Name: percepcion_corrupcion, dtype: float64
Media de corrupcion anual:
    anio  percepcion_corrupcion
0   2005               0.715875
1   2006               0.755737
2   2007               0.792069
3   2008               0.764120
4   2009               0.763371
5   2010               0.757199
6   2011               0.755170
7   2012               0.757945
8   2013               0.763475
9   2014               0.738347
10  2015               0.736524
11  2016               0.746677
12  2017               0.729197
13  2018               0.731744
Expectativa de vida por pais:
pais
Afghanistán    52.254545
Albania        67.254545
Alemania       71.104616
Algeria        65.174286
Angola         53.550000
                 ...
Venezuela      65.829231
Vietnam        66.838462
Yemen          54.627273
Zambia         50.983333
Zimbabue       49.269231
Name: expectativa_vida, Length: 164, dtype: float64

# XLM Reading

In [ ]:
import pandas as pd
df2 = pd.read_xml('cd_catalog.xml')
print("Primeros 6 registros:")
df2.head(6)
print("Informacion del dataframe:")
df2.info()
print("Tamaño del dataframe:")
df2.shape
print("Numero de filas y columnas:")

#Filtrar discos entre 1990 y 1997 (incluye ambos años)
discos_90_97 = df2[(df2["YEAR"] >= 1990) & (df2["YEAR"] <= 1997)]
print("Discos entre 1990 y 1997:")
print(discos_90_97)
discos_90_97 =df2[('YEAR')].between(1990, 1997)
print("Discos entre 1990 y 1997:")
df2_ordenado = df2.sort_values(by="YEAR")
print(df2_ordenado)

Primeros 6 registros:
Informacion del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TITLE    26 non-null     object
 1   ARTIST   26 non-null     object
 2   COUNTRY  26 non-null     object
 3   COMPANY  26 non-null     object
 4   PRICE    26 non-null     float64
 5   YEAR     26 non-null     int64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ KB
Tamaño del dataframe:
Numero de filas y columnas:
Discos entre 1990 y 1997:
                     TITLE             ARTIST COUNTRY         COMPANY  PRICE  \
3      Still got the blues         Gary Moore      UK  Virgin records   10.2
4                     Eros    Eros Ramazzotti      EU             BMG    9.9
7               Maggie May        Rod Stewart      UK        Pickwick    8.5
8                  Romanza     Andrea Bocelli      EU         Polydor   10.8
10             Black angel        Savage Rose      EU            Mega   10.9
12      For the good times       Kenny Rogers      UK    Mucik Master    8.7
13        Big Willie style         Will Smith     USA        Columbia    9.9
15              Soulsville          Jorn Hoel  Norway             WEA    7.9
16        The very best of        Cat Stevens      UK          Island    8.9
21  Pavarotti Gala Concert  Luciano Pavarotti      UK           DECCA    9.9

    YEAR
3   1990
4   1997
7   1990
8   1996
10  1995
12  1995
13  1997
15  1996
16  1990
21  1991
Discos entre 1990 y 1997:
                       TITLE             ARTIST COUNTRY         COMPANY  \
22       The dock of the bay       Otis Redding     USA    Stax Records
14              Tupelo Honey       Van Morrison      UK         Polydor
6             Sylvias Mother            Dr.Hook      UK             CBS
2              Greatest Hits       Dolly Parton     USA             RCA
19            Private Dancer        Tina Turner      UK         Capitol
20            Midt om natten         Kim Larsen      EU          Medley
23              Picture book         Simply Red      EU         Elektra
0           Empire Burlesque          Bob Dylan     USA        Columbia
9   When a man loves a woman       Percy Sledge     USA        Atlantic
25          Unchain my heart         Joe Cocker     USA             EMI
24                       Red     The Communards      UK          London
18           Bridge of Spies              T'Pau      UK           Siren
17                      Stop          Sam Brown      UK         A and M
1            Hide your heart       Bonnie Tyler      UK     CBS Records
3        Still got the blues         Gary Moore      UK  Virgin records
7                 Maggie May        Rod Stewart      UK        Pickwick
16          The very best of        Cat Stevens      UK          Island
21    Pavarotti Gala Concert  Luciano Pavarotti      UK           DECCA
10               Black angel        Savage Rose      EU            Mega
12        For the good times       Kenny Rogers      UK    Mucik Master
8                    Romanza     Andrea Bocelli      EU         Polydor
15                Soulsville          Jorn Hoel  Norway             WEA
4                       Eros    Eros Ramazzotti      EU             BMG
13          Big Willie style         Will Smith     USA        Columbia
5             One night only           Bee Gees      UK         Polydor
11      1999 Grammy Nominees               Many     USA          Grammy

    PRICE  YEAR
22    7.9  1968
14    8.2  1971
6     8.1  1973
2     9.9  1982
19    8.9  1983
20    7.8  1983
23    7.2  1985
0    10.9  1985
9     8.7  1987
25    8.2  1987
24    7.8  1987
18    7.9  1987
17    8.9  1988
1     9.9  1988
3    10.2  1990
7     8.5  1990
16    8.9  1990
21    9.9  1991
10   10.9  1995
12    8.7  1995
8    10.8  1996
15    7.9  1996
4     9.9  1997
13    9.9  1997
5    10.9  1998
11   10.2  1999

# Excel Reading

In [40]:
import pandas as pd
df3 = pd.read_excel('base de datos excel tarea sem1.xlsx') # Corrected filename with spaces
df3.head(6)
print("Informacion del dataframe:")
df3.info()
print("Tamaño del dataframe:")
df3.shape
print("Columnas y Filas")


print(df3.columns)
df3_limpio = df3[["Empleado", "Categoría", "Ventas"]].copy() # Corrected 'Vendedor' to 'Empleado'
print(df3_limpio)

# Total de ventas por vendedor
ventas_por_vendedor = (
    df3_limpio.groupby("Empleado")["Ventas"]
    .sum()
    .sort_values(ascending=False)
)

print("Total de ventas por vendedor:")
print(ventas_por_vendedor)

ventas_por_categoria = (
    df3_limpio.groupby("Categoría")["Ventas"]
    .sum()
    .sort_values(ascending=False)
)

print("Ventas por categoría:")
print(ventas_por_categoria)

print("\nCategoría que más vende:")
print(ventas_por_categoria.index[0])

print("\nCategoría que menos vende:")
print(ventas_por_categoria.index[-1])

Informacion del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Empleado             6860 non-null   object
 1   Nombre del cliente   6860 non-null   object
 2   Ventas               6860 non-null   float64
 3   Id de empleado       6860 non-null   int64
 4   Id de producto       6860 non-null   int64
 5   Id de cliente        6860 non-null   int64
 6   Año                  6860 non-null   int64
 7   Mes                  6860 non-null   int64
 8   Producto             6860 non-null   object
 9   Cliente              6860 non-null   object
 10  Id de pedido         6860 non-null   int64
 11  Fecha de pedido      6860 non-null   int64
 12  Nombre del producto  6860 non-null   object
 13  Estado o provincia   6860 non-null   object
 14  País o región        6860 non-null   object
 15  Categoría            6860 non-null   object
dtypes: float64(1), int64(7), object(8)
memory usage: 857.6+ KB
Tamaño del dataframe:
Columnas y Filas
Index(['Empleado', 'Nombre del cliente', 'Ventas', 'Id de empleado',
       'Id de producto', 'Id de cliente', 'Año', 'Mes', 'Producto', 'Cliente',
       'Id de pedido', 'Fecha de pedido', 'Nombre del producto',
       'Estado o provincia', 'País o región', 'Categoría'],
      dtype='object')
                   Empleado                Categoría  Ventas
0          Francisco Chaves                  Bebidas  1400.0
1          Francisco Chaves             Frutos secos   105.0
2              Luis Bonifaz             Frutos secos   300.0
3              Luis Bonifaz             Frutos secos   530.0
4              Luis Bonifaz             Frutos secos    35.0
...                     ...                      ...     ...
6855      Juan Carlos Rivas        Productos lácteos  1392.0
6856     María Jesús Cuesta              Condimentos   500.0
6857     María Jesús Cuesta                   Salsas   120.0
6858  Pilar Pinilla Gallego  Mermeladas y confituras  3240.0
6859  Pilar Pinilla Gallego                   Granos   280.0

[6860 rows x 3 columns]
Total de ventas por vendedor:
Empleado
Francisco Chaves         1658151.75
Pilar Pinilla Gallego    1608053.75
María González            918540.00
Juan Carlos Rivas         892920.00
María Jesús Cuesta        878920.00
Humberto Acevedo          731728.50
Jesús Escolar             366450.00
Luis Bonifaz              234021.00
Name: Ventas, dtype: float64
Ventas por categoría:
Categoría
Bebidas                        3169040.0
Mermeladas y confituras         803600.0
Frutos secos                    519750.0
Productos lácteos               438480.0
Sopas                           391790.0
Salsas                          364000.0
Golosinas                       357000.0
Carne enlatada                  309120.0
Pasta                           273000.0
Frutas y verduras enlatadas     218400.0
Condimentos                     193200.0
Productos horneados             137480.0
Aceite                           74725.0
Granos                           39200.0
Name: Ventas, dtype: float64

Categoría que más vende:
Bebidas

Categoría que menos vende:
Granos